* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  color: white;
}

#main {
    width: 100%;
    height: 100%;

    #cursor {
        background: #ffff;
        width: 2rem;
        height: 2rem;
        position: fixed;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: red;
        font-size: 0.8rem;
        z-index: 5;

    }

    .image {
        width: 55vw;
        height: 55vh;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            // opacity: 0.5;
            z-index: 1;
        }

        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(36, 136, 169, 0.36);
            position: absolute;
            z-index: 9;
        }
    }
}